<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>StuartBank</display-name>
  <welcome-file-list>
    <welcome-file>sblogin.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>dbdrivername</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>dburl</param-name>
    <param-value>jdbc:mysql://localhost:3306/test</param-value>
  </context-param>
  <context-param>
    <param-name>dbcustomurl</param-name>
    <param-value>jdbc:mysql://localhost:3306/bank</param-value>
  </context-param>
  <context-param>
    <param-name>dbusername</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>dbpassword</param-name>
    <param-value>root</param-value>
  </context-param>
  <servlet>
    <servlet-name>myProgram</servlet-name>
    <servlet-class>com.stuartbankcontroller.sbcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myProgram</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SbHomeServlet</servlet-name>
    <servlet-class>com.stuartbankcontroller.SbHome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SbHomeServlet</servlet-name>
    <url-pattern>/Sbhome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registrationServlet</servlet-name>
    <servlet-class>com.stuartbankcontroller.CustomerRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registrationServlet</servlet-name>
    <url-pattern>/Customerregistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bankAccountInfoServlet</servlet-name>
    <servlet-class>com.stuartbankcontroller.BankAccountInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bankAccountInfoServlet</servlet-name>
    <url-pattern>/bankaccountInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bankInfoServlet</servlet-name>
    <servlet-class>com.stuartbankcontroller.BankInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bankInfoServlet</servlet-name>
    <url-pattern>/bankInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>transferServlet</servlet-name>
    <servlet-class>com.stuartbankcontroller.Transfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>transferServlet</servlet-name>
    <url-pattern>/transfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>saveCustomerInfoServlet</servlet-name>
    <servlet-class>com.stuartbankcontroller.SaveCustomerInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveCustomerInfoServlet</servlet-name>
    <url-pattern>/Customerinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>saveBankInfoServlet</servlet-name>
    <servlet-class>com.stuartbankcontroller.SaveBankInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveBankInfoServlet</servlet-name>
    <url-pattern>/customerbankInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>searchcustomerInfoServlet</servlet-name>
    <servlet-class>com.stuartbankcontroller.SearchCustomerInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchcustomerInfoServlet</servlet-name>
    <url-pattern>/searchcustomerInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>bankvaultInfoInfoServlet</servlet-name>
    <servlet-class>com.stuartbankcontroller.InfoBankVault</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bankvaultInfoInfoServlet</servlet-name>
    <url-pattern>/bankvaultInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Info</servlet-name>
    <servlet-class>com.stuartbankcontroller.CustomerAccountBankinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Info</servlet-name>
    <url-pattern>/CustomerBankAccountInfo</url-pattern>
  </servlet-mapping>
</web-app>